@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-color: #fc9d03;
    --text-color: #ADA7A7;
    --bg-color:#fff;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    overflow: hidden;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    min-height: 70px;
    position: fixed;
    background: var(--bg-color);
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.logo{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    width: 80px;
}

.logo span{
    font-size: 1.6rem;
    color: var(--main-color);
}
.middle{
    position: absolute;
    top: 100px;
    min-width: 90%;
    background-color: var(--bg-color);
    padding: 15px;
    box-shadow: 0 0 10px black;
}
button{
    border: none;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid black;
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    /* font-weight: 400; */
}
button:hover{
    background-color: var(--main-color);
}
button a{
    font-weight: 600;
    gap: 30px;
    text-decoration: none;
    color: black;
}
button i{
    padding: 5px;
    font-weight: 500;
}
hr{
    margin-top: 10px;
}
.inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.total{
    position: absolute;
    top: 300px;
    min-width: 90%;
    background-color: var(--bg-color);
    padding: 15px;
    box-shadow: 0 0 10px black;
}
ul{
    text-decoration: none;
    display: flex;
    /* gap: 100px; */
    font-weight: bold;
    padding-left: 50px;
    font-size: 1rem;
    justify-content: space-between;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
}
img{
    height: 50px;
    width: 50px;
}
